.form-control{
    margin: 0.1em;
    float: left;
    width: auto;
}

.comment{
  width: 100%;
  height: auto;
  resize: none;
}

.commentBox{
  border: 1px solid silver;
  height: auto;
  margin: 0.1em;
}

.header{
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  margin: 1em 0;
}

.errorBox{
  border: 1px solid red;
  border-radius: 15px;
  font-size: 1em;
  margin: 1em 0;
}
