.form-control{
    margin: 0.1em;
    float: left;
    width: auto;
}

.comment{
  width: 100%;
  height: auto;
  resize: none;
}

.commentBox{
  border: 1px solid silver;
  height: auto;
  margin: 0.1em;
}
